@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600;700&family=Orbitron&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
}

.navBar {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    position: sticky;
    background-color: white;
    z-index: 1;
    top: 0px;
}

.navBarList {
    display: flex;
    height: 30px;
}

.navBarList li {
    /* margin-left: 15px; */
    margin-right: 15px;
    list-style-type: none;
}

.navBarTitle {
    font-size: 20px;
}

.navBarItem, a{
    color: grey;
    font-size: 16px;
    margin-top: 2px;
    text-decoration: none;
}

.navBarHome, .divTitle{
    color: black;
}

.backgroundImageContainer {
    background-image: url("../img/bg2.jpg");
    background-size: cover;
    width: 100%;
    height: 500px;
    background-position: center;
    background-color: gray;
    background-blend-mode: multiply;
    position: relative;
}

.backgroundImageTitle {
    position: absolute;
    top: 30px;
    left: 40%;
    color: white;
    opacity: 0.5;
}

svg, .curve {
    position: absolute;
    bottom: 0px;
}

.curve {
    fill: white;
    width: 100%;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    color: grey;
    margin-bottom: 70px;
    margin-top: 20px;
}

.aboutUsContainer {
    position: relative;
}

.aboutUsImageContainer{
    display: flex;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 520px;
}

.smallImageContainer {
    width: 50%;
    height: 35%;
}

.bigImageContainer {
    width: 50%;
    height: 57%;
} 

.smallImage, .bigImage {
    height: 100%;
}

.smallImageContainer, .bigImageContainer{
    margin-right: 7px;
    margin-top: 7px;
    margin-bottom: 7px;
    position: relative;
}

.aboutUsContainerText {
    font-size: 22px;
    position: absolute;
    bottom: 0;
    right: 65px;
}

.imageTitle {
    position: absolute;
    text-decoration: underline;
    text-underline-position: under;
    left: 5px;
    top: 5px;
    white-space: nowrap;
    color: white;
}

.footer{
    background: #35383d;
    color: white;
    height: 200px;
    width: 100%;
    position: relative;
}

input, textarea {
    background: #35383d;
    border: white 1px solid;
    color: white;
    margin: 2px;
    width: 100%;
}

input::placeholder, textarea::placeholder {
    color: white;
    position: absolute;
    top: 2px;
}

.footerTitle, form{
    position: absolute;
    left: 50px;
}

.footerTitle{
    top: 20px;
}

form{
    position: absolute;
    top: 60px;
    height: 100px;
    width: 50%;
    margin-top: 5px;
}

.yourMail {
    top: 65px;
    height: 23px;
}

.yourMessage {
    top: 95px;
    height: 70px;
    max-height: 70px;
    max-width: 100%;
    min-width: 100%;
    min-height: 70px;
}

h1, h2, h6 {
    font-weight: 400;
}

h6 {
    position: absolute;
    bottom: 2px;
    left: 47%;
}